
.q3c-0 {
    color: black;
}

.q3c-1 {
    color: rgb(255, 41, 41);
}

.q3c-2 {
    color: green;
}

.q3c-3 {
    color: yellow;
}

.q3c-4 {
    color: rgb(37, 106, 255);
}

.q3c-5 {
    color: cyan;
}

.q3c-6 {
    color: magenta;
}

.q3c-7 {
    color: white;
}

.q3c-8 {
    color: rgb(255, 111, 27);
}

.q3c-9 {
    color: gray;
}

.q3c-a {
    color: rgb(255, 34, 26);
}

.q3c-b {
    color: rgb(255, 81, 0);
}

.q3c-c {
    color: rgb(255, 123, 0);
}

.q3c-d {
    color: rgb(255, 153, 0);
}

.q3c-e {
    color: rgb(255, 217, 0);
}

.q3c-f {
    color: rgb(179, 255, 0);
}

.q3c-g {
    color: rgb(115, 255, 0);
}

.q3c-h {
    color: rgb(60, 255, 0);
}

.q3c-i {
    color: rgb(9, 255, 0);
}

.q3c-j {
    color: rgb(0, 255, 115);
}

.q3c-k {
    color: rgb(0, 255, 149);
}

.q3c-l {
    color: rgb(0, 255, 213);
}

.q3c-m {
    color: rgb(0, 255, 242);
}

.q3c-n {
    color: rgb(0, 174, 255);
}

.q3c-o {
    color: rgb(0, 132, 255);
}

.q3c-p {
    color: rgb(0, 110, 255);
}

.q3c-q {
    color: rgb(4, 0, 255);
}

.q3c-r {
    color: rgb(102, 0, 219);
}

.q3c-s {
    color: rgb(168, 0, 219);
}

.q3c-t {
    color: rgb(204, 0, 255);
}

.q3c-u {
    color: rgb(255, 52, 245);
}

.q3c-v {
    color: rgb(255, 0, 191);
}

.q3c-w {
    color: rgb(255, 0, 128);
}

.q3c-x {
    color: rgb(255, 0, 13);
}

.q3c-y {
    color: rgb(255, 255, 255);
}

.q3c-z {
    color: gray;
}