@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.rotate-animation {
    animation: rotateOnce 1.5s ease-in-out;
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }
    50% {
        color: rgb(77, 160, 255);
    }
    100% {
        transform: rotate(360deg);
    }
}

.shape {
    clip-path: polygon(
        0% 0%,
        calc(100% - 20px) 0%,
        100% 20px,
        100% 100%,
        20px 100%,
        0% calc(100% - 20px),
        0% 0%
    );
}

.map-container-vq3 {
    background: linear-gradient(90deg, #3347ff, #5dccff);
    background-size: 400% 400%;
    animation: gradient-animation 7s ease infinite;
}

.map-container-cpm {
    background: linear-gradient(90deg, #33ff55, #5dff5d);
    background-size: 400% 400%;
    animation: gradient-animation 7s ease infinite;
}

.vq3-badge {
    background: linear-gradient(90deg, #3347ff90, #5dccff90);
    background-size: 400% 400%;
    animation: gradient-animation 7s ease infinite;
}

.cpm-badge {
    background: linear-gradient(90deg, #33ff4490, #5dff5d90);
    background-size: 400% 400%;
    animation: gradient-animation 7s ease infinite;
}

.defrag-scrollbar {
    max-height: 450px;
    overflow-y: auto;
}

.defrag-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.defrag-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 5px;
}

.defrag-scrollbar::-webkit-scrollbar-track {
    background-color: #00000000;
}

.vq3-gradiant {
    background: linear-gradient(180deg, rgba(14, 68, 245, 0.07) 0%, rgba(250, 13, 13, 0) 56%);
}

.cpm-gradiant {
    background: linear-gradient(180deg, rgba(14, 245, 64, 0.03) 0%, rgba(250, 13, 13, 0) 56%);
}

.vq3-gradiant-2 {
    background: linear-gradient(270deg, rgba(14, 68, 245, 0.80) 0%, rgba(250, 13, 13, 0) 100%);
}

.cpm-gradiant-2 {
    background: linear-gradient(270deg, rgba(9, 148, 39, 0.80) 0%, rgba(250, 13, 13, 0) 100%);
}

.effect-cpm {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px 20px #20f555b3;
    height: 1px;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 1px;
}

.effect-vq3 {
    transition: all .5s ease-in-out;
    box-shadow: 0 0 50px 20px #2024f5b3;
    height: 1px;
    left: 50%;
    top: 50%;
    position: absolute;
    width: 1px;
}

.best-record-gradiant-vq3 {
    background: linear-gradient(90deg, rgba(187, 187, 187, 0.136) 0%, rgba(3, 91, 255, 0.267) 100%);
}

.best-record-gradiant-cpm {
    background: linear-gradient(90deg, rgba(187, 187, 187, 0.136) 0%, rgba(21, 250, 13, 0.116) 100%);
}