.sprite-items {
    background-image: url(/images/sprite-items.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.test {
    background-color: red !important;
}

.sprite-rl { background-position: 0.0% 0;  }
.sprite-cg { background-position: 2.0% 0;  }
.sprite-mg { background-position: 4.0% 0;  }
.sprite-hook { background-position: 6.0% 0;  }
.sprite-lg { background-position: 8.0% 0;  }
.sprite-gl { background-position: 10.0% 0;  }
.sprite-pml { background-position: 12.0% 0;  }
.sprite-gauntlet { background-position: 14.0% 0;  }
.sprite-ng { background-position: 16.0% 0;  }
.sprite-bfg { background-position: 18.0% 0;  }
.sprite-sg { background-position: 20.0% 0;  }
.sprite-pg { background-position: 22.0% 0;  }
.sprite-rg { background-position: 24.0% 0;  }
.sprite-health { background-position: 26.0% 0;  }
.sprite-ptele { background-position: 28.0% 0;  }
.sprite-haste { background-position: 30.0% 0;  }
.sprite-ya { background-position: 32.0% 0;  }
.sprite-invis { background-position: 34.0% 0;  }
.sprite-ra { background-position: 36.0% 0;  }
.sprite-quad { background-position: 38.0% 0;  }
.sprite-regen { background-position: 40.0% 0;  }
.sprite-shard { background-position: 42.0% 0;  }
.sprite-mega { background-position: 44.0% 0;  }
.sprite-medkit { background-position: 46.0% 0;  }
.sprite-enviro { background-position: 48.0% 0;  }
.sprite-flight { background-position: 50.0% 0;  }
.sprite-smallhealth { background-position: 52.0% 0;  }
.sprite-smallh { background-position: 52.0% 0;  }
.sprite-bighealth { background-position: 54.0% 0;  }
.sprite-largeh { background-position: 54.0% 0;  }
.sprite-largehealth { background-position: 54.0% 0;  }
.sprite-fog { background-position: 56.0% 0;  }
.sprite-break { background-position: 58.0% 0;  }
.sprite-kami { background-position: 60.0% 0;  }
.sprite-shootrocket { background-position: 62.0% 0;  }
.sprite-tele { background-position: 64.0% 0;  }
.sprite-sound { background-position: 66.0% 0;  }
.sprite-guard { background-position: 68.0% 0;  }
.sprite-ga { background-position: 70.0% 0;  }
.sprite-lava { background-position: 72.0% 0;  }
.sprite-slick { background-position: 74.0% 0;  }
.sprite-ammoregen { background-position: 76.0% 0;  }
.sprite-water { background-position: 78.0% 0;  }
.sprite-shootplasma { background-position: 80.0% 0;  }
.sprite-button { background-position: 82.0% 0;  }
.sprite-invu { background-position: 84.0% 0;  }
.sprite-doubler { background-position: 86.0% 0;  }
.sprite-door { background-position: 88.0% 0;  }
.sprite-jumppad { background-position: 90.0% 0;  }
.sprite-scout { background-position: 92.0% 0;  }
.sprite-timer { background-position: 94.0% 0;  }
.sprite-shootgren { background-position: 96.0% 0;  }
.sprite-slime { background-position: 98.0% 0;  }
.sprite-moving { background-position: 100.0% 0;  }


.q3c-0 {
    color: black;
}

.q3c-1 {
    color: rgb(255, 41, 41);
}

.q3c-2 {
    color: green;
}

.q3c-3 {
    color: yellow;
}

.q3c-4 {
    color: rgb(37, 106, 255);
}

.q3c-5 {
    color: cyan;
}

.q3c-6 {
    color: magenta;
}

.q3c-7 {
    color: white;
}

.q3c-8 {
    color: rgb(255, 111, 27);
}

.q3c-9 {
    color: gray;
}

.q3c-a {
    color: rgb(255, 34, 26);
}

.q3c-b {
    color: rgb(255, 81, 0);
}

.q3c-c {
    color: rgb(255, 123, 0);
}

.q3c-d {
    color: rgb(255, 153, 0);
}

.q3c-e {
    color: rgb(255, 217, 0);
}

.q3c-f {
    color: rgb(179, 255, 0);
}

.q3c-g {
    color: rgb(115, 255, 0);
}

.q3c-h {
    color: rgb(60, 255, 0);
}

.q3c-i {
    color: rgb(9, 255, 0);
}

.q3c-j {
    color: rgb(0, 255, 115);
}

.q3c-k {
    color: rgb(0, 255, 149);
}

.q3c-l {
    color: rgb(0, 255, 213);
}

.q3c-m {
    color: rgb(0, 255, 242);
}

.q3c-n {
    color: rgb(0, 174, 255);
}

.q3c-o {
    color: rgb(0, 132, 255);
}

.q3c-p {
    color: rgb(0, 110, 255);
}

.q3c-q {
    color: rgb(4, 0, 255);
}

.q3c-r {
    color: rgb(102, 0, 219);
}

.q3c-s {
    color: rgb(168, 0, 219);
}

.q3c-t {
    color: rgb(204, 0, 255);
}

.q3c-u {
    color: rgb(255, 52, 245);
}

.q3c-v {
    color: rgb(255, 0, 191);
}

.q3c-w {
    color: rgb(255, 0, 128);
}

.q3c-x {
    color: rgb(255, 0, 13);
}

.q3c-y {
    color: rgb(255, 255, 255);
}

.q3c-z {
    color: gray;
}